        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #081C2B;
			overflow-y: hidden; /* Hide vertical scrollbar */
  			overflow-x: hidden; /* Hide horizontal scrollbar */
        }
        .containerV {
            width: 80%;
            margin: 0 auto;
        }
        .video-section {
			display: block;
			justify-content: space-between;
			align-items: center;
			padding: 5px;
			background-color: #081C2B;
			border: 2px solid #081C2B;
		}

		.video-section .video {
			flex-grow: 1;
			display: block;
		}

		.video-section .video video {
			width: 100%;
			height: auto;
			display: block;
		}

		.video-section .format {
			margin-left: 20px;
		}

		/* Clear floats after the columns */
		.row1:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		/* Create three unequal columns that floats next to each other */
		.column1 {
		  	float: left;
		  	padding: 5px;
			margin-left: 25px;
		  	height: 300px; /* Should be removed. Only for demonstration */
		}

		.right {
		  float: right;
		  width: 40%;
		}

		.middle {
		  width: 50%;
		}

		/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
		@media screen and (max-width: 600px) {

		}
        .description {
            padding: 20px;
            background-color: #fff;
            border: 2px solid #ccc;
            margin-bottom: 20px;
        }
        .social-media {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            border: 2px solid #ccc;
            margin-bottom: 20px;
        }
        .social-media a {
            text-decoration: none;
            font-size: 40px;
            color: #9C8C5C;
        }
        .social-media a:hover {
            color: #FFF;
        }
        .form-group {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
        .form-group label {
            width: 45%;
            font-size: 16px;
        }
        .form-group input {
            width: 45%;
            padding: 5px;
            font-size: 16px;
        }

		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		/* Create two equal columns that floats next to each other */
		.column {
		  float: right;
		  margin-right: 50px;
		  width: auto;
		  padding: 10px;
		}
		
		a:hover {
			animation: shake 0.5s;
 			animation-iteration-count: infinite;
		}
		
		@keyframes shake {
		  0% { transform: translate(1px, 1px) rotate(0deg); }
		  10% { transform: translate(-1px, -2px) rotate(-1deg); }
		  20% { transform: translate(-3px, 0px) rotate(1deg); }
		  30% { transform: translate(3px, 2px) rotate(0deg); }
		  40% { transform: translate(1px, -1px) rotate(1deg); }
		  50% { transform: translate(-1px, 2px) rotate(-1deg); }
		  60% { transform: translate(-3px, 1px) rotate(0deg); }
		  70% { transform: translate(3px, 1px) rotate(-1deg); }
		  80% { transform: translate(-1px, -1px) rotate(1deg); }
		  90% { transform: translate(1px, 2px) rotate(0deg); }
		  100% { transform: translate(1px, -2px) rotate(-1deg); }
		}

